mat-toolbar {
  background-color: grey;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: #666;
  text-decoration: underline;
}
